hr.MuiDivider-root {
    margin: 16px 0;
}

button.FloatingActionButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

div.FloatingActionButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

div.Loader {
    display: block;
    margin: 0 auto 24px;
}

.MuiTab-fullWidth:focus {
    outline: none;
}

.dropzone:focus, .dropzone:hover, .dropzone:active {
    border-color: #2196f3;
}

.dropzone p {
    margin: 0;
}

.dropzone.dz-tall {
    height: 40vh;
}

.dropzone.dz-small {
    height: 75px;
}

#fullScreenMap {
    height: 100%;
    width: 100%;
}