hr.MuiDivider-root {
    margin: 16px 0;
}

button.FloatingActionButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

div.FloatingActionButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

div.Loader {
    display: block;
    margin: 0 auto 24px;
}